Options +FollowSymlinks
RewriteEngine On

RewriteRule /art/edit/ /html/descriptionPage.php

RewriteRule /art/read/ /html/descriptionPage.php

RewriteRule /art/update/ /html/descriptionPage.php

RewriteRule /art/create/ /html/descriptionPage.php

RewriteRule /art/list /html/artList.php

RewriteRule /art_auth /html/connexionAdmin.php

RewriteRule /admin/deconnexion /html/deconnexion.php

RewriteRule /admin/create /html/createaccount.php

RewriteRule /admin/password/change /html/myaccount.php

RewriteRule /admin/password/reset /html/resetPassword.php

RewriteRule /en-savoir-plus /html/enSavoirPlus.php

RewriteRule /les-credits /html/credits.php

RewriteRule /mentions-legales /html/mentionsLegales.php