Options +FollowSymlinks
RewriteEngine On

RewriteRule /art/lecture /html/oeuvre.php

RewriteRule /art/edit/ /html/oeuvreEdit.php

RewriteRule /art/read/ /html/oeuvreEdit.php

RewriteRule /art/update/ /html/oeuvreEdit.php

RewriteRule /art/create/ /html/oeuvreEdit.php

RewriteRule /art_auth /html/connexionAdmin.php

RewriteRule /art/list /html/listeOeuvre.php

RewriteRule /art/deconnexion /html/deconnexion.php

RewriteRule /art/createaccount /html/createaccount.php

RewriteRule /art/changepassword /html/myaccount.php

RewriteRule /art/resetpassword /html/resetPassword.php