Options +FollowSymlinks
RewriteEngine On

RewriteRule /art/lecture /html/oeuvre.php

RewriteRule /home /html/index.php

RewriteRule /art/edit/ /html/oeuvreEdit.php

RewriteRule /art/read/ /html/oeuvreEdit.php

RewriteRule /art/update/ /html/oeuvreEdit.php

RewriteRule /art/create/ /html/oeuvreEdit.php

RewriteRule /recherche /html/search.php

RewriteRule /art_auth /html/connexionAdmin.php

RewriteRule /art/list /html/listeOeuvre.php

RewriteRule /deconnection /html/deconnexion.php

RewriteRule /art/createaccount /html/createaccount.php