/* Colours */
@rouge_um: #FF5660;
@bleu_de_soutien: #4BC2BC;
@clouds: #ECF0F1;
@silver: #BDC3C7;
@concrete: #95A5A6;
@asbestos: #7F8C8D;
@wet_asphalt: #34495E;
@midnight_blue: #2C3E50;
@sun_flower: #F1C40F;
@orange: #F39C12;
@emerald: #2ECC71;
@nephritis: #27AE60;
@peter_river: #3498DB;
@belize_hole: #2980B9;
@amethyst: #9B59B6;
@wisteria: #8E44AD;

/* Fonts */
@font-face {
    font-family: 'openSans-Bold';
    src: url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSans-BoldItalic';
    src: url('/assets/fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSans-ExtraBold';
    src: url('/assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSans-ExtraBoldItalic';
    src: url('/assets/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSans-Italic';
    src: url('/assets/fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSans-Light';
    src: url('/assets/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSans-LightItalic';
    src: url('/assets/fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSans-Regular';
    src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSans-Semibold';
    src: url('/assets/fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'openSans-SemiboldItalic';
    src: url('/assets/fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@openSans-Bold: 'openSans-Bold';
@openSans-BoldItalic: 'openSans-BoldItalic';
@openSans-ExtraBold: 'openSans-ExtraBold';
@openSans-ExtraBoldItalic: 'openSans-ExtraBoldItalic';
@openSans-Italic: 'openSans-Italic';
@openSans-Light: 'openSans-Light';
@openSans-LightItalic: 'openSans-LightItalic';
@openSans-Regular: 'openSans-Regular';
@openSans-Semibold: 'openSans-Semibold';
@openSans-SemiboldItalic: 'openSans-SemiboldItalic';

/* MEDIA QUERIES */
@xs-min: 480px;
@sm-min: 768px;
@md-min: 992px;
@lg-min: 1200px;

@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);

@phone-low:      ~"only screen and (max-width: @{xs-min})";
@phone:          ~"only screen and (min-width: @{xs-min})";
@phone-strict:   ~"only screen and (min-width: @{xs-min}) and (max-width: @{xs-max})";
@tablet-low:      ~"only screen and (max-width: @{sm-min})";
@tablet:         ~"only screen and (min-width: @{sm-min})";
@tablet-strict:  ~"only screen and (min-width: @{sm-min}) and (max-width: @{sm-max})";
@desktop-low:    ~"only screen and (max-width: @{md-min})";
@desktop:        ~"only screen and (min-width: @{md-min})";
@desktop-strict: ~"only screen and (min-width: @{md-min}) and (max-width: @{md-max})";
@large:          ~"only screen and (min-width: @{lg-min})";

.oeuvre {
	
	.title {

		background-color: @clouds;

		h1 {
			color: @rouge_um;
			padding-top: 10px;
			font-size: 50px;

			@media @phone-low {
				font-size: 26px;
			}		

		}

		h2 {
			color: @concrete;
			padding-bottom: 10px;

			@media @phone-low {
				font-size: 16px;
			}

		}

		h1, h2 {
			font-family: @openSans-Bold;
			margin-left: 50px;
			margin-top: inherit;
			margin-bottom: inherit;

			@media @phone-low {
				margin-left: inherit;
				text-align: center;
			}

		}

	}

	.overview {

		background-color: @clouds;
		padding-top: 20px;

		.descriptions {

			@media @large {
				width: 65%;
    			float: left;
    			margin-top: 50px;
    		}

    		@media @desktop-strict {
    			width: 65%;
    			float: left;
    			margin-top: 12px;
    		}

    		@media @desktop-low {
    			width: 100%;
    			padding-right: 50px;
    		}

    		@media @phone-low {
    			padding-right: 10px;
    		}

			.description {

				padding-left: 50px;
				margin-top: 18px;

				@media @phone-low {
	    			padding-left: 18px;
	    		}

				.name {
					color: @wet_asphalt;
					font-family: @openSans-Semibold;
					font-size: 17px;

					@media @phone-low {
						width: 14px;
					}

				}

				.entitled {
					float: right;
					font-family: @openSans-SemiboldItalic;
					text-align: right;
					width: 60%;

					@media @phone-low {
						font-size: 10px;
					}

				}

			}

		}

		.photo {

			display: block;
			position: relative;
			height: 0;
			overflow: hidden;
			margin-bottom: 15px;

			@media @desktop {
    			padding: 18.25% 0 0 0;
    		}

    		@media @desktop-low {
    			padding: 38.25% 0 0 0;
    			margin-top: 15px;
    		}

			img {
				position: absolute;
				display: block;
				max-width: 100%;
				max-height: 100%;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}

	.presentation {

		padding-bottom: 15px;

		h1 {
			font-family: @openSans-Bold;
			color: @wet_asphalt;
			margin-left: 50px;
			margin-bottom: 30px;
			padding-top: 20px;

			@media @phone-low {
				margin-left: inherit;
				font-size: 24px;
				text-align: center;
			}

		}

		h2 {
			font-size: 30px;
		    margin-left: 100px;
		    font-family: @openSans-Semibold;

		    @media @phone-low {
		    	margin-left: inherit;
			    text-align: center;
			    font-size: 20px;
		    }
		}

		#playlist {
			width: 45%;
			margin: 0 auto;
			margin-top: 15px;

			@media @phone-low {
				width: 90%;
			}

			th {
				font-size: 20px;
			}

			td {
				font-size: 14px;
				color: @asbestos;

			}
			td:hover {
				background-color: #f5f5f5;
				color: #2c3e50;
			}

			.active {
				color: @midnight_blue;
			}

			tr {
				text-align: center;
			}

		}

		span {
			font-family: @openSans-Regular;
			color: @midnight_blue;
			text-align: justify;
    		display: block;
    		margin-left: 100px;
   			margin-right: 100px;

   			@media @phone-low {
   				margin-right: 10px;
    			margin-left: 10px;
    			font-size: 11px;
   			}

		}

		.video-js {
			text-align: center;
			margin: 0 auto;
			width: 60%;
			height: 400px;
			margin-top: 20px;

			@media @phone-low {
				width: 95%;
				height: 340px;
			}
		}

		audio {
			margin: 0 auto;
			text-align: center;
			display: block;
			margin-top: 15px;
			width: 80%;
		}
	}

	.gray {
		background-color: @clouds;
	}

	.biography {

		padding-bottom: 15px;

		h1 {
			font-family: @openSans-Bold;
			color: @wet_asphalt;
			margin-left: 50px;
			margin-bottom: 30px;
			padding-top: 20px;

			@media @phone-low {
				padding-top: 20px;
				font-size: 24px;
				margin-left: inherit;
				text-align: center;
			}
			
		}

		h2 {
			font-size: 30px;
		    margin-left: 100px;
		    font-family: @openSans-Semibold;
		}

		.content {
			font-family: @openSans-Regular;
			color: @midnight_blue;
			text-align: justify;
    		display: block;
    		margin-left: 100px;
   			margin-right: 100px;

   			@media @phone-low {
				margin-left: 10px;
   				margin-right: 10px;
   				font-size: 11px;
			}
		}

		.biographyLimit {
			margin-bottom: 75px;
		}
	}

	.photograph {

		padding-bottom: 30px;

		h1 {
			font-family: @openSans-Bold;
			color: @wet_asphalt;
			margin-left: 50px;
			margin-bottom: 30px;
			padding-top: 20px;

			@media @phone-low {
				margin-left: inherit;
				text-align: center;
				font-size: 24px;
			}
		}

		.carousel-photograph {

			width: 80%;
			text-align: center;
			margin: 0 auto;

			.item {
				width: 400px;
			}
		}
	}

	.historic {

		padding-bottom: 20px;

		h1 {
			font-family: @openSans-Bold;
			color: @wet_asphalt;
			margin-left: 50px;
			margin-bottom: 30px;
			padding-top: 20px;

			@media @phone-low {
				font-size: 24px;
				text-align: center;
				margin-left: inherit;
			}
		}

		.carousel-historic {

			width: 80%;
			text-align: center;
			margin: 0 auto;

			.item {
				width: 400px;
			}
		}

		span {
			font-family: @openSans-Regular;
			color: @midnight_blue;
			text-align: justify;
    		display: block;
    		margin-top: 30px;
    		margin-left: 100px;
   			margin-right: 100px;

   			@media @phone-low {
   				margin-left: 10px;
   				margin-right: 10px;
   				font-size: 10px;
   			}

		}

	}
}

.edit {

	margin-left: 5%;
    margin-right: 5%;

	h1 {
		color: @rouge_um;
		font-size: 50px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 10px;
    	margin-top: 10px;
	}

	h1, label {
		font-family: @openSans-Bold;
	}

	input, td {
		font-family: @openSans-Regular;
	}

	td, th {
		text-align: center;
	}

	.btn-add-author, .btn-complete, .btn-removeAuthor, .btn-addDescriptionAuthor, .btn-forceMap {
		color: white;
	}

	.btn-add-author, .btn-complete, .btn-forceMap {
		text-align: center;
	    margin: 0 auto;
	    width: 30%;
	    display: block;
	    margin-top: 30px;
	}

	.btn-forceMap {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.btn-addDescriptionAuthor, .btn-forceMap {
		background-color: @emerald;
	}

	.btn-removeAuthor {
		background-color: @orange;
	}

	.btn-add-author {
		background-color: @belize_hole;
	}

	.btn-complete {
		background-color: @rouge_um;
		margin-bottom: 30px;
	}

	.dropzone {

		span {
			font-family: @openSans-Bold;
		}

	}

	.easy-autocomplete, .easy-autocomplete input {
		width: 100% !important;
	}

	.note-editable {
		font-family: @openSans-Regular;
		text-align: justify;
    	color: #2c3e50 !important;
	}
}

/*** HEADER ***/
header {

	width: 100%;

	#logoUMSlogan {

		margin-left: 10%;
    	float: left;

		#logo-UM {

			float: left;
			padding: 25px;

			img {
				width: 195px;

				@media @phone-low {
					width: 125px;
				}
			}
		}

		#slogan {

			float: left;
			padding-top: 40px;

			h1 {
				margin: inherit;
				width: 280px;
				color: @silver;
				font-family: @openSans-BoldItalic;

				@media @phone-low {
					font-size: 20px !important;
				}

			}

		}
	}

	.collapse-trigger {
		margin: 0 auto;
	    display: block;
	    text-align: center;

	    i {
	    	font-size: 25px;
	    	color: @asbestos;
	    }
	}

	#search {
		width: 75%;
	    margin: 0 auto;
	    padding-top: 15px;

	    input {
	    	font-family: @openSans-Italic;
	    }

	    #logo-search {
	    	background-color: #ff5660;
	    }

	    i {
	    	color: white;
   			width: 50px;
	    }

	    ul {
			top: 30px;
	    }

	    li {
	    	border-bottom: 1px solid @rouge_um;
	    }

	    .eac-category {
	    	border-bottom: 2px solid @peter_river;

	    	span {
	    		font-family: @openSans-Bold;
	    		color: @rouge_um;
	    		font-size: 20px;
	    	}
	    }

	    .eac-item {
	    	span {
	    		font-family: @openSans-Regular;
	    		color: @midnight_blue;
	    	}
	    }

	}

	#logo-artistique {

		padding: 45px;
    	margin-right: 10%;

    	img {
    		float: right;
    		width: 180px;
    	}
	}

	@media @tablet-strict {
		#logoUMSlogan {
			margin-left: inherit;
		}

		#logo-artistique {
			margin-right: inherit;
		}
	}

	@media @tablet-low {
		#logoUMSlogan {

			margin-left: inherit;
	    	float: inherit;

			#logo-UM {

				float: inherit;
				padding: inherit;
				margin: 0 auto;
			    text-align: center;
			    padding: 15px;
			}

			#slogan {

				float: inherit;
				padding-top: inherit;

				h1 {
					margin: inherit;
					color: @silver;
					font-family: @openSans-BoldItalic;
					width: 55%;
				    margin: 0 auto;
				    text-align: center;
				    font-size: 30px;
				}

			}
		}

		#search {

			padding-top: 15px;

		    i {
		    	color: white;
	   			width: 10px;
		    }

		}

		#logo-artistique {

			display: none;
		}
	}
}

/*** FIX MAP GOOGLE BUG ***/
.edit {

	#map {
		position: relative;
	    padding-bottom: 35.25%;
	    padding-top: 16px;
	    height: 0;
	    overflow: hidden;
	    text-align: center;
	    margin-right: 10px;
	    margin-left: 10px;
	    margin-bottom: 15px;
	}
}

.pac-container {
	z-index: 2000;
}

/*** FIX MULTI MODAL BOOTSTRAP ***/

.modal {
	overflow-y: scroll;
}

#modal-author {
	z-index: 1500;
}

/*** NAVBAR LEFT SOLUTION - EDIT  PAGE ***/
@media (min-width: 768px) {
	.navbar-collapse {
		height: auto;
		border-top: 0;
		box-shadow: none;
		max-height: none;
		padding-left:0;
		padding-right:0;
	}

	.navbar-collapse.collapse {
		display: block !important;
		width: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}

	.navbar-collapse.in {
		overflow-x: visible;
	}

	.navbar {
		max-width:225px;
		margin-right: 0;
		margin-left: 0;
		float: left;
	}	

	.navbar-nav,
	.navbar-nav > li,
	.navbar-left,
	.navbar-right,
	.navbar-header
	{
		float:none !important;
	}

	.navbar-right .dropdown-menu {left:0;right:auto;}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
}

nav {
	position: fixed !important;

	.navbar-brand {
		color :#ff5660 !important;
		font-family: @openSans-Bold;
		font-size: 22px;
		padding-top: 15px;
	    margin: inherit;
	}

	li {

		a {
			color: @wet_asphalt;
			font-family: @openSans-Semibold;
		}

	}

	li:hover {
		background-color: @clouds;
	}
}

/*** Connexion page ***/
.connexion {

	#formConnexion {
		width: 40%;
	    text-align: center;
	    margin: 0 auto;
	}

	h1 {
		color: @rouge_um;
		font-size: 50px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 40px;
    	margin-top: 10px;
    	font-family: @openSans-Bold;
	}

	button {
		text-align: center;
	    margin: 0 auto;
	    width: 65%;
	    display: block;
    	margin-top: 10px;
	}
}

.artList {

	table {
		width: 70%;
   		margin: 0 auto;

   		thead {

   			th {
   				text-align: center;
   				font-size: 22px;
   			}
   		}
	}

	button {
		width: 150px;
	    margin: 0 auto;
	    text-align: center;
	    display: block;
	}

	h1 {
		color: @rouge_um;
		font-size: 50px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 40px;
    	margin-top: 10px;
    	font-family: @openSans-Bold;
	}
}

.modifyAccount {

	.myaccount {
		width: 40%;
	    text-align: center;
	    margin: 0 auto;
	}

	h1 {
		color: @rouge_um;
		font-size: 50px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 40px;
    	margin-top: 10px;
    	font-family: @openSans-Bold;
	}

	button {
		text-align: center;
	    margin: 0 auto;
	    width: 65%;
	    display: block;
    	margin-top: 10px;
	}

}

/*** OVEVERRIDE - TAGS INPUT ANGULARJS ***/
.tag-item {
	background: inherit !important;
	background-color: @nephritis !important;
	font-family: @openSans-Regular !important;
}

/*** Fix owl carousel navigation **/
.owl-controls {
  margin: 0;
}

.owl-controls .owl-nav [class*=owl-] {
  font-size: 12px;
  padding: 7px 9px 7px 8px;
  border-radius: 0;
}

.owl-controls .owl-prev,
.owl-controls .owl-next {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 30px;
  margin: auto !important;
}

.owl-controls .owl-prev {
  left: 0;
  display: inherit !important;
  left: -70px;

  @media @phone-low {
  	left: -40px;
  }
}

.owl-prev i, .owl-next i {
	font-size: 65px;
	color: @wet_asphalt;

	@media @phone-low {
		font-size: 35px;
	}
}

.owl-controls .owl-next {
  right: 0;
  display: inherit !important;
  right: -70px;

  @media @phone-low {
  	right: -40px;
  }
}

.owl-controls .owl-dots {
  display: none !important;
}

/*PAGE ACCUEIL*/
.home {
	header {
		z-index: 1;
		position: absolute;
		background-color: white;
	}
}

/*Menu filtres lorsqu'il est non selectionné*/
#menu-ui {
    background: #fff;
    position: absolute;
    top: 80%;
    left: 15px;
    z-index: 1;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.4);
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

#menu-ui.selectionner {
    height: auto;
}

/*Enlever les points du radio button dans le formulaire*/
#menu-ui input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

/*Enleve le soulignement sour le lien du menu*/
#menu-ui a {
  text-decoration: none;
}

#menu-ui {
	#cacher {
		margin-top: 7px;

		.radio {
			padding-top: 2px;
	    	padding-bottom: 8px;
	    	margin: inherit;
		}

		#texteFiltre:hover {
			opacity: 1;
		}

		#texteFiltre {
			span {
				font-family: @openSans-Regular;
				color: @wet_asphalt;
				padding-left: 20px;
			}
		}
	}

	#afficher_filtres {
		padding-top: 10px;

		img {
			padding-left: 20px;
		}

		span {
			font-family: @openSans-Bold;
			color: @wet_asphalt;
			font-size: 20px;
    		margin-left: 17px;
		}
	}
}

.leaflet-popup {
	width: 315px;

	.leaflet-popup-content {
		width: inherit !important;

		img {
			width: 100%;
			float: left;
		}

		#texte {
			float: left;
			margin-left: 10px;

			#nom-prenom-artiste {
				margin-bottom: 5px;
				span {
					color: @rouge_um;
					font-family: @openSans-Bold;
					font-size: 15px;
				}
			}

			#nom-oeuvre {
				font-family: @openSans-Regular;
				color: @wet_asphalt;
				margin-bottom: 10px;
			}
		}
	}

	#image {
		width: 45%;
	}
}

/*Effet de mise en avant pour l'element selectionné*/
div.radio label > input:checked + div {
  opacity: 1;
}

/*Effet de mise en retrait pour les autres elements non selectionnés*/
div.radio label > input:not(:checked) + div {
  opacity: 0.33;
}

/*Rajoute bordure de separation entre chaque type d'oeuvre*/
div.radio {
  border-radius: 3px;
  border-top: 1px solid rgba(0,0,0,0.4);
}

/*Rajoute une petite marge pour chaque texte*/
div#texteFiltre {
  margin-top: 4px;
}

/*Masque les filtres au demarrage*/
#cacher {
  visibility: hidden;
}

/*Centre l'image du filtre*/
img.menu {
  margin-bottom: 5px;
}

/** FOOTER **/
footer {
	background-color: #34495e;
    border-top: 5px solid @rouge_um;
	bottom: 0px;
    /*position: absolute;*/
    width: 100%;

    p {
    	color: white;
	    padding-top: 18px;
	    padding-bottom: 18px;
	    font-size: 10px;
	    padding-left: 5px;
	    margin-bottom: inherit;
    }
}
